@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
    /* Fonts */
    --alata: "Alata", sans-serif;
    --josefin-sans: "Josefin Sans", sans-serif;

    /* Primary colors */
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--alata);
    font-size: 15px;
}

/* Hero section styles */
.hero-wrapper {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./images/desktop/image-hero.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    padding: 60px 120px 0 120px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    margin-left: 30px;
    color: var(--white);
}

.hero-text-wrapper {
    max-width: 480px;
    min-width: 380px;
    border: 2px solid var(--white);
    margin-top: 120px;
}

.hero-text-wrapper h1 {
    color: var(--white);
    font-family: var(--josefin-sans);
    text-transform: uppercase;
    font-size: 38px;
    letter-spacing: 3px;
    font-weight: 300;
    padding: 20px 50px 20px 20px;
}

/* VR section styles */
.vr-wrapper {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
    border: 2px solid pink;
    position: relative;
}

.vr-wrapper img {
    width: 675px;
    height: auto;
    padding: 100px 0 100px 0;
}

.vr-text-wrapper {
    font-family: var(--josefin-sans);
    color: var(--black);
    background: var(--white);
    position: absolute;
    top: 40%;
    left: 50%;
    padding: 80px 0 80px 80px;
}

.vr-text-wrapper h3 {
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.vr-text-wrapper p {
    font-family: var(--alata);
    color: var(--dark-gray);
    line-height: 1.5;
    margin-top: 20px;
}

/* Creations styles */
.creations-wrapper {
    font-family: var(--josefin-sans);
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
    border: 2px solid pink;
}

.creations-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.creations-heading h3 {
    font-size: 34px;
    text-transform: uppercase;
}

.creations-heading a {
    font-family: var(--alata);
    font-size: 14px;
    text-decoration: none;
    color: var(--black);
    border: 2px solid var(--very-dark-gray);
    text-transform: uppercase;
    padding: 8px 28px 8px 28px;
    letter-spacing: 3px;
}

/* The Grid styles */
.creations-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card-one {
    color: var(--white);
    background: url("./images/desktop/image-deep-earth.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    position: relative;
}

.card-one h3 {
    position: absolute;
    font-size: 32px;
    text-transform: uppercase;
    top: 80%;
    left: 20%;
    max-width: 130px;
}

.card-two {
    color: var(--white);
    background: url("./images/desktop/image-night-arcade.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    position: relative;
}

.card-two h3 {
    position: absolute;
    font-size: 32px;
    text-transform: uppercase;
    top: 80%;
    left: 20%;
    max-width: 130px;
}

.card-three {
    color: var(--white);
    background: url("./images/desktop/image-soccer-team.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    position: relative
}

.card-three h3 {
    position: absolute;
    font-size: 32px;
    text-transform: uppercase;
    top: 80%;
    left: 20%;
    max-width: 160px;
}

.card-four {
    color: var(--white);
    background: url("./images/desktop/image-grid.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    position: relative;
}

.card-four h3 {
    position: absolute;
    font-size: 32px;
    text-transform: uppercase;
    top: 80%;
    left: 20%;
    max-width: 130px;
}

.card-five {
    color: var(--white);
    background: url("./images/desktop/image-from-above.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    position: relative;
}

.card-five h3 {
    position: absolute;
    font-size: 32px;
    text-transform: uppercase;
    top: 80%;
    left: 20%;
    max-width: 170px;
}

.card-six {
    color: var(--white);
    background: url("./images/desktop/image-pocket-borealis.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    position: relative;
}

.card-six h3 {
    position: absolute;
    font-size: 32px;
    text-transform: uppercase;
    top: 80%;
    left: 20%;
    max-width: 170px;
}

.card-seven {
    color: var(--white);
    background: url("./images/desktop/image-curiosity.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    position: relative;
}

.card-seven h3 {
    position: absolute;
    font-size: 32px;
    text-transform: uppercase;
    top: 80%;
    left: 20%;
    max-width: 170px;
}

.card-eight {
    color: var(--white);
    background: url("./images/desktop/image-fisheye.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    position: relative;
}

.card-eight h3 {
    position: absolute;
    font-size: 32px;
    text-transform: uppercase;
    top: 80%;
    left: 20%;
    max-width: 170px;
}